/*******************************************************************************
 * Global
 ******************************************************************************/
/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/*******************************************************************************
 * Layout
 ******************************************************************************/
/* Prevent font size inflation. */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  /* Add accessible line-height. */
  line-height: 1.5;

  /* Improve text rendering. */
  -webkit-font-smoothing: antialiased;
}

/* Make media easier to work with. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*******************************************************************************
 * Text
 ******************************************************************************/
/* Set shorter line heights on headings and interactive elements. */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping. */
p {
  text-wrap: pretty;
}

/* Balance text wrapping on headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Inherit fonts for inputs and buttons. */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Remove bad default. */
address {
  font-style: normal;
}

/*******************************************************************************
 * Other
 ******************************************************************************/
/* Opt-in to decorated lists. */
ol,
ul {
  list-style: none;
}
